# Variables de entorno para Card-Tradder (backend)
# Este archivo se carga con dotenv en el backend para configurar la app

# Puerto donde se expone la API
# Es el puerto interno de Express dentro del contenedor (o local)
PORT=3000

# MongoDB
# URI de conexión a MongoDB.
# En Docker, "mongo" es el nombre del servicio/host definido en docker-compose.
MONGO_URI=mongodb://mongo:27017/cardtrader

# JWT
# Clave secreta usada para firmar y verificar los tokens JWT.
# En producción debes cambiar esto por algo MUY difícil de adivinar.
JWT_SECRET=define_un_secreto_seguro

# Redis
# Host donde está corriendo Redis. En Docker suele ser el nombre del servicio.
REDIS_HOST=redis
# Puerto por defecto en el que escucha Redis
REDIS_PORT=6379
